/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Arvo');

body {
  font: arial,helvetica,sans-serif;
	color:#000;
        background-image: url('https://f.cloud.github.com/assets/4979267/779455/98af40ea-e9d7-11e2-92ac-eec4a96e24d2.png');
	}

#menu-bar {
  background-image: url('https://f.cloud.github.com/assets/4979267/778663/f34266d4-e9b6-11e2-8098-b9c4317db668.png');
  font-size: 15px;
  color: #000;
  }

.biblio-title a, .biblio-title-chicago a, a, a:visited {
color: #993333;
text-decoration: underline;
}

#block-boxes-site-info {
	color: #f8f6f6;
   }

h1, h2, h3, #menu-bar, #header-container, .region-sidebar-first {
color: #f8f6f6;
}

.region-sidebar-second {
	color: #000;
}

#header-container h1, #header-container h2, #header-container h3, #header-container a, #header-container a:visited, #header-container h1 a, #header-container h1 a:visited {
color: #f8f6f6;
}

#menu-bar li {
	color: #000;
	font-size: 15px;
}

header, header a{
	     background-image: url('https://f.cloud.github.com/assets/4979267/779455/98af40ea-e9d7-11e2-92ac-eec4a96e24d2.png');
 	     color: #f8f6f6;
 	     }



h1#page-title {
font-size: 1.3em;
margin-left: 10px;
}

.node-header a {
	color: #f8f6f6;
}
/* TYPOGRAPHY*/
/* a, a:visited {
	color:#b0c4de;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #4528;
	}

h1, h2, h3, h4 {
	font-weight:normal;
	font-family:'Arvo', arial, serif;
	margin-bottom:15px;
	} */
	

/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
	}
	
